<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F11CB5732B18E590004FA841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1813A582AF2D54300CB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1813A6E2AF2D54700CB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1813A782AF2D54700CB82CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
